# Tesseract OCR
tessdata/

# Virtual environment
tesseract/
tesseract/*

# Streamlit
.streamlit/

# Visual Studio Code
.vscode/
*.code-workspace

# Kafka
logs/
data/
tmp/

# Flask
instance/
*.pyc
__pycache__/

# PySpark
metastore_db/
derby.log

# Pillow
*.egg-info/
*.eggs/

# Keycloak Python
.keycloak/

